<a href="https://colab.research.google.com/github/Gurudevasura/Quantitative-Analyst-Assignment/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import pandas and Zipfile
import pandas as pd
import os
from zipfile import ZipFile

# Read files using Pandas & Zipfile

#file - BTCUST-2022/03/01

In [ ]:
btc01 = "/content/drive/MyDrive/Colab Notebooks/BTCUSDT-trades-2022-03-01.zip"
df = pd.read_csv(btc01,names=['ID','Traded Price','Traded Size','Traded Notional','Timestamp','b1','b2'],encoding='unicode_escape')
df

,ID,Traded Price,Traded Size,Traded Notional,Timestamp,b1,b2
0,1274557543,43160.00,0.00056,24.169600,1646092800000,True,True
1,1274557544,43160.01,0.00052,22.443205,1646092800003,False,True
2,1274557545,43160.01,0.00182,78.551218,1646092800004,False,True
3,1274557546,43160.01,0.00631,272.339663,1646092800005,False,True
4,1274557547,43160.00,0.00229,98.836400,1646092800006,True,True
...,...,...,...,...,...,...,...
1866866,1276424409,44421.20,0.00120,53.305440,1646179199997,True,True
1866867,1276424410,44423.47,0.00057,25.321378,1646179199997,False,True
1866868,1276424411,44421.20,0.00029,12.882148,1646179199998,True,True
1866869,1276424412,44423.47,0.00037,16.436684,1646179199998,False,True
1866870,1276424413,44421.20,0.00125,55.526500,1646179199999,True,True

In [ ]:
#drop columns 
df.drop(['ID','b1','b2'], axis=1,inplace=True)
df.head()

   Traded Price  Traded Size  Traded Notional      Timestamp
0      43160.00      0.00056        24.169600  1646092800000
1      43160.01      0.00052        22.443205  1646092800003
2      43160.01      0.00182        78.551218  1646092800004
3      43160.01      0.00631       272.339663  1646092800005
4      43160.00      0.00229        98.836400  1646092800006

In [ ]:
df.tail()

         Traded Price  Traded Size  Traded Notional      Timestamp
1289315      42454.01      0.00124        52.642972  1646351999996
1289316      42454.00      0.00257       109.106780  1646351999996
1289317      42454.01      0.00054        22.925165  1646351999997
1289318      42454.01      0.00198        84.058940  1646351999997
1289319      42454.00      0.00052        22.076080  1646351999999

In [ ]:
df.shape

(1866871, 4)

In [ ]:
df.describe()

       Traded Price   Traded Size  Traded Notional     Timestamp
count  1.289320e+06  1.289320e+06     1.289320e+06  1.289320e+06
mean   4.306552e+04  3.950967e-02     1.700239e+03  1.646310e+12
std    5.966110e+02  2.017309e-01     8.638445e+03  2.297629e+07
min    4.183228e+04  1.000000e-05     4.184846e-01  1.646266e+12
25%    4.248800e+04  1.130000e-03     4.837911e+01  1.646290e+12
50%    4.327000e+04  7.630000e-03     3.287907e+02  1.646316e+12
75%    4.351289e+04  3.000000e-02     1.298700e+03  1.646327e+12
max    4.410112e+04  9.911728e+01     4.218531e+06  1.646352e+12

# file - BTCUST-2022/03/02

In [ ]:
btc02 = "/content/drive/MyDrive/Colab Notebooks/BTCUSDT-trades-2022-03-02.zip"
df = pd.read_csv(btc02,names=['ID','Traded Price','Traded Size','Traded Notional','Timestamp','b1','b2'],encoding='unicode_escape')
df

,ID,Traded Price,Traded Size,Traded Notional,Timestamp,b1,b2
0,1276424414,44421.20,0.00097,43.088564,1646179200000,True,True
1,1276424415,44423.46,0.00154,68.412128,1646179200002,False,True
2,1276424416,44423.46,0.00039,17.325149,1646179200003,False,True
3,1276424417,44421.20,0.00328,145.701536,1646179200003,True,True
4,1276424418,44423.46,0.00075,33.317595,1646179200005,False,True
...,...,...,...,...,...,...,...
1653126,1278077540,43892.98,0.00040,17.557192,1646265599998,True,True
1653127,1278077541,43892.98,0.00159,69.789838,1646265599999,True,True
1653128,1278077542,43892.99,0.00064,28.091514,1646265599999,False,True
1653129,1278077543,43892.98,0.00054,23.702209,1646265599999,True,True
1653130,1278077544,43892.98,0.00061,26.774718,1646265599999,True,True

In [ ]:
#drop columns 
df.drop(['ID','b1','b2'], axis=1,inplace=True)
df.head()

   Traded Price  Traded Size  Traded Notional      Timestamp
0      44421.20      0.00097        43.088564  1646179200000
1      44423.46      0.00154        68.412128  1646179200002
2      44423.46      0.00039        17.325149  1646179200003
3      44421.20      0.00328       145.701536  1646179200003
4      44423.46      0.00075        33.317595  1646179200005

In [ ]:
df.tail()

         Traded Price  Traded Size  Traded Notional      Timestamp
1289315      42454.01      0.00124        52.642972  1646351999996
1289316      42454.00      0.00257       109.106780  1646351999996
1289317      42454.01      0.00054        22.925165  1646351999997
1289318      42454.01      0.00198        84.058940  1646351999997
1289319      42454.00      0.00052        22.076080  1646351999999

In [ ]:
df.shape

(1653131, 4)

In [ ]:
df.describe()

       Traded Price   Traded Size  Traded Notional     Timestamp
count  1.289320e+06  1.289320e+06     1.289320e+06  1.289320e+06
mean   4.306552e+04  3.950967e-02     1.700239e+03  1.646310e+12
std    5.966110e+02  2.017309e-01     8.638445e+03  2.297629e+07
min    4.183228e+04  1.000000e-05     4.184846e-01  1.646266e+12
25%    4.248800e+04  1.130000e-03     4.837911e+01  1.646290e+12
50%    4.327000e+04  7.630000e-03     3.287907e+02  1.646316e+12
75%    4.351289e+04  3.000000e-02     1.298700e+03  1.646327e+12
max    4.410112e+04  9.911728e+01     4.218531e+06  1.646352e+12

#file - BTCUST-2022/03/03

In [ ]:
btc03 = "/content/drive/MyDrive/Colab Notebooks/BTCUSDT-trades-2022-03-03.zip"
df = pd.read_csv(btc03,names=['ID','Traded Price','Traded Size','Traded Notional','Timestamp','b1','b2'],encoding='unicode_escape')
df

,ID,Traded Price,Traded Size,Traded Notional,Timestamp,b1,b2
0,1278077545,43892.99,0.00158,69.350924,1646265600000,False,True
1,1278077546,43892.99,0.00066,28.969373,1646265600000,False,True
2,1278077547,43892.98,0.00136,59.694453,1646265600000,True,True
3,1278077548,43892.99,0.00045,19.751846,1646265600000,False,True
4,1278077549,43892.98,0.00048,21.068630,1646265600001,True,True
...,...,...,...,...,...,...,...
1289315,1279366860,42454.01,0.00124,52.642972,1646351999996,False,True
1289316,1279366861,42454.00,0.00257,109.106780,1646351999996,True,True
1289317,1279366862,42454.01,0.00054,22.925165,1646351999997,False,True
1289318,1279366863,42454.01,0.00198,84.058940,1646351999997,False,True
1289319,1279366864,42454.00,0.00052,22.076080,1646351999999,True,True

In [ ]:
#drop columns 
df.drop(['ID','b1','b2'], axis=1,inplace=True)
df.head()

   Traded Price  Traded Size  Traded Notional      Timestamp
0      43892.99      0.00158        69.350924  1646265600000
1      43892.99      0.00066        28.969373  1646265600000
2      43892.98      0.00136        59.694453  1646265600000
3      43892.99      0.00045        19.751846  1646265600000
4      43892.98      0.00048        21.068630  1646265600001

In [ ]:
df.tail()

         Traded Price  Traded Size  Traded Notional      Timestamp
1289315      42454.01      0.00124        52.642972  1646351999996
1289316      42454.00      0.00257       109.106780  1646351999996
1289317      42454.01      0.00054        22.925165  1646351999997
1289318      42454.01      0.00198        84.058940  1646351999997
1289319      42454.00      0.00052        22.076080  1646351999999

In [ ]:
df.shape

(1289320, 4)

In [ ]:
df.describe()

       Traded Price   Traded Size  Traded Notional     Timestamp
count  1.289320e+06  1.289320e+06     1.289320e+06  1.289320e+06
mean   4.306552e+04  3.950967e-02     1.700239e+03  1.646310e+12
std    5.966110e+02  2.017309e-01     8.638445e+03  2.297629e+07
min    4.183228e+04  1.000000e-05     4.184846e-01  1.646266e+12
25%    4.248800e+04  1.130000e-03     4.837911e+01  1.646290e+12
50%    4.327000e+04  7.630000e-03     3.287907e+02  1.646316e+12
75%    4.351289e+04  3.000000e-02     1.298700e+03  1.646327e+12
max    4.410112e+04  9.911728e+01     4.218531e+06  1.646352e+12

# Merge multiple Files If needed

# Using Glob access to file Path and  concatenate it

```
# This is formatted as code
```

In [ ]:
#Glob return all file path as matches
from glob import glob
files = glob("/content/drive/MyDrive/Colab Notebooks/*.zip" )
files.sort()
files

['/content/drive/MyDrive/Colab Notebooks/BTCUSDT-trades-2022-03-01.zip',
 '/content/drive/MyDrive/Colab Notebooks/BTCUSDT-trades-2022-03-02.zip',
 '/content/drive/MyDrive/Colab Notebooks/BTCUSDT-trades-2022-03-03.zip']

In [ ]:
#Concatenating the loaded files and read_csv
df = pd.concat( (pd.read_csv(file , names=['S.num','Traded Price','Traded Size','Traded Notional','Timestamp','b1','b2'])for file in files), ignore_index=True)
#drop columns 
df.drop(['S.num','b1','b2'], axis=1,inplace=True)
df.head()

   Traded Price  Traded Size  Traded Notional      Timestamp
0      43160.00      0.00056        24.169600  1646092800000
1      43160.01      0.00052        22.443205  1646092800003
2      43160.01      0.00182        78.551218  1646092800004
3      43160.01      0.00631       272.339663  1646092800005
4      43160.00      0.00229        98.836400  1646092800006

In [ ]:
df.tail()

         Traded Price  Traded Size  Traded Notional      Timestamp
4809317      42454.01      0.00124        52.642972  1646351999996
4809318      42454.00      0.00257       109.106780  1646351999996
4809319      42454.01      0.00054        22.925165  1646351999997
4809320      42454.01      0.00198        84.058940  1646351999997
4809321      42454.00      0.00052        22.076080  1646351999999

In [ ]:
df.shape

(4809322, 4)

In [ ]:
df.describe()

       Traded Price   Traded Size  Traded Notional     Timestamp
count  4.809322e+06  4.809322e+06     4.809322e+06  4.809322e+06
mean   4.369901e+04  3.544499e-02     1.547943e+03  1.646212e+12
std    6.393248e+02  1.544273e-01     6.706469e+03  7.328628e+07
min    4.183228e+04  1.000000e-05     4.184846e-01  1.646093e+12
25%    4.335848e+04  1.050000e-03     4.561234e+01  1.646145e+12
50%    4.375748e+04  7.000000e-03     3.055158e+02  1.646211e+12
75%    4.413661e+04  2.874000e-02     1.255063e+03  1.646274e+12
max    4.540000e+04  9.911728e+01     4.218531e+06  1.646352e+12